*{
    margin: 0;
    padding: 0;
}
html {
    overflow: hidden;
}
header{
    height: 150px;
    background-color: #42030C;
    color: #B7945E;

}
h1 {
    width: 150px;
    margin: 10px auto;
}
body {
    background-color: #42030C;
}

button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    vertical-align: top;
    flex-direction: row;
    justify-content: center;
}
#reproductor {
    position: absolute;
    left: 820px;
    top: 850px;
    z-index: -1;
}
#videoGeneral {
    width: 1200px;
    height: 600px;
}
#tancar {
    width:50px;
    height: 50px;
    left: 101rem;
    top :98px;
    z-index: -1;
    position: absolute;
}

#pista {
    width: 100%;
    height: 2000px;
    background-image: url("pista_basquet.jpg");
    margin: -100px auto;
}

.jugador {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

.jugador video {
    height: 101%;
    margin-left: -40%;
}


/* POSICIONS JUGADORS */

/* Daurats */

#jordan {
    top: 250px;
    left: 450px;
}

#russell {
    top: 320px;
    left: 290px;
}

#abdul {
    top: 480px;
    left: 340px;
}

#magic {
    top: 400px;
    left: 570px;
}


#bird {
    top: 600px;
    left: 440px;
}
/* vermells */

#kobe {
    top: 250px;
    right: 450px;
}

#iverson {
    top: 320px;
    right: 290px;
}

#oneal {
    top: 480px;
    right: 340px;
}


#curry {
    top: 400px;
    right: 570px;
}

#lebron {
    top: 600px;
    right: 440px;
}

/* BORDERS */

#legends>div {
    border: 5px #ad8d5a solid;
}
#present>div {
    border: 5px #42030C solid;
}


#navegacio{
    border: 1px solid;
    width: 1100px;
    height: 150px;
    background-image: linear-gradient(to right, #AD8D5A, #42030C);
    position: absolute;
    margin-left:20%;
}
.est{
    border: 1px solid;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 45px;
    margin-left: 12px;
    color: white;
    overflow: hidden;
    border: 5px solid black;
}
.oest{
    border: 1px solid;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 45px;
    margin-left: 15px;
    color: white;
    overflow: hidden;
        border: 5px solid black;

}
.est h3{
    position: absolute;
    top: 110px;

    
}
.oest h3{
    position: absolute;
    top: 110px;

}
img{
    width: 100%;
    overflow: hidden;
    border-radius: 50%;    
}




